:root {
  font-family: Teko, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 62.5%;
  font-size: 1.2rem;
  background-color: #192734;
  color: #f8ffff;
}

#root {
  display: grid;
  grid-template-columns: min(200px, max(25%, 100px)) 1fr;
  /* max size 200px, mid size 25%, min size 100px */
  height: 100vh;
  width: 100vw;
}

/*  */
.container {
  padding: 1.2rem 2.4rem;
  max-width: 1024px;
  margin: 0 auto;
}

main.main {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  /* fixed effect */
}

/* LEAFLET! VERY IMPORTANT */
.leaflet-container {
  height: 100vh;
  width: 100%;
}

/* .teko-<uniquifier> {
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */


.fleet-shiplist {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.2rem;
  /* min-width: 20rem; */
}

.fleet-shiplist-ship {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  text-align: center;

  padding: 1rem;
  background-color: #081520;
  border-radius: 10px;
}

.fleet-shiplist-ship-name {
  letter-spacing: 2px;
  line-height: 20px;
  line-break: anywhere;
  hyphens: auto;
}

.fleet-shiplist-ship-class {
  /* margin-top: -0.6rem; */
  letter-spacing: 1px;
}

.fleet-shiplist progress {
  width: 75%;
  /* min-width: 4.8rem; */
}






/* @MEDIA */
@media (max-width: 900px) {
  .fleet-shiplist {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  body {
    font-size: 1rem;
  }

  .fleet-shiplist {
    grid-template-columns: 1fr;
  }
}

